<h1>Edit User</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<!--
<%= form_tag(users_path, method: "post", authenticity_token: true) do %>
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username">

  <label for="email">Email:</label>
  <input type="email" name="user[email]" id="email">

  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password">

  <%= submit_tag "Submit" %>
<% end %>
-->

<%= form_with model: @user, local: true do |form| %>
  <%= form.label :username, "Your user name here" %>
  <%= form.text_field :username, placeholder: "JohnDoe" %>

  <%= form.label :email, "Email" %>
  <%= form.email_field :email, placeholder: "example@example.com" %>

  <%= form.label :password, "Password" %>
  <%= form.password_field :password %>

  <%= form.submit "Submit" %>
<% end %>
